<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @member}}
            <div class="static-avatar avatar-wrapper author-list-item">
				<a href="javascript:" data-members-signout>Sign out</a>
                <a href="javascript:" class="subscriber-avatar account-menu author-profile-image" id="account-menu" type="checkbox" name="menu">
                    {{> "icons/avatar"}}
                    {{#if @member.avatar_image}}
                        <img src="{{@member.avatar_image}}" class="author-profile-image" />
                    {{/if}}
                </a>
                <ul class="account-menu-dropdown">
                    <li class="basic-info">
                        <small>Signed in as</small>
                        <span class="account-email" title="{{@member.email}}">{{@member.email}}</span>
                    </li>
                    <li><a href="{{@site.url}}/account/">Account</a></li>
                    <li><a href="javascript:" data-members-signout>Log out</a></li>
                </ul>
            </div>
        {{else}}
            <a href="javascript:" data-members-signin>Log in</a>
            <a class="subscribe-button" href="{{@site.url}}/signup/">Subscribe</a>
        {{/if}}	

		

    </div>
</nav>
