{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">

    <article class="inner post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">


        <section class="gh-section gh-section-white site-header-content post-full-content">
            <div class="post-content">

                {{#if feature_image}}
                <figure class="kg-card kg-image-card kg-width-full">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size="xl"}}" alt="{{title}}" class="kg-image" />
                </figure>
                {{/if}}

            </div>
        </section>

        <section class="gh-section gh-section-whitegrey post-full-content">
            <div class="inner">
                {{content}}
            </div>

            <div class="gh-image-text-block  gh-image-text-img-right">
                <div class="gh-image-text-column gh-image-text-img "><img class="gh-image-text-img-main"
                        src="https://ghost.org/static/editor-browser-phone-891b3660d50d8a07628709c3bfef53bd.png"
                        alt="Sign up UI"></div>
                <div class="gh-image-text-column no-header">
                    <p>Develop a direct relationship with your audience and discover who your most devoted readers are
                        with memberships subscriptions.</p>
                    <p>Transform anonymous views into registered members, or even generate sustainable revenue from your
                        work with recurring subscriptions.</p>
                </div>
            </div>

        </section>


        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.members}}
        {{> subscribe-form}}
        {{/if}}

        {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

    </article>

</main>



{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
            <article class="read-next-card">
                <header class="read-next-card-header">
                    {{#../primary_tag}}
                    <h3><span>More in</span> <a href="{{url}}">{{name}}</a></h3>
                    {{/../primary_tag}}
                </header>
                <div class="read-next-card-content">
                    <ul>
                        {{#foreach related_posts}}
                        <li>
                            <h4><a href="{{url}}">{{title}}</a></h4>
                            <div class="read-next-card-meta">
                                <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                                    {{reading_time}}</p>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
                <footer class="read-next-card-footer">
                    <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                        →</a>
                </footer>
            </article>
            {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
            {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
            {{> "post-card"}}
            {{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        console.log("there must be a way to debug");
        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');
        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;
            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }
            ticking = false;
        }
        window.addEventListener('scroll', onScroll, {
            passive: true
        });
        window.addEventListener('resize', onResize, false);
        update();
    });
</script>
{{/contentFor}}